<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  {% include 'partials/head.html' %}
</head>
<body data-locale="{{ locale }}" data-theme-label-light="{{ site.theme_light }}" data-theme-label-dark="{{ site.theme_dark }}" data-nav-label="{{ site.toggle_nav }}">

  <a href="#main-content" class="skip-link">{{ site.skip_link }}</a>
  {% include 'partials/header.html' %}
  {% include 'partials/mobile-menu.html' %}

  <main id="main-content"{% if page.category == 'legal' %} class="legal-content"{% endif %}>
  {{ body_html | safe }}
  </main>

  {% include 'partials/footer.html' %}
</body>
</html>
