<div class="container">
 <h1>Impressum</h1>
 <h2 id="angaben-gem-5-tmg">Angaben gemäß § 5 TMG</h2>
 <p>Anna Hellmuth</p>
 <p>Psychologische Beratung und Life Coaching</p>
 <p>Erhardstraße 13</p>
 <p>90482 Nürnberg</p>
 <h3 id="kontakt">Kontakt</h3>
 <p><strong>Telefon:</strong> auf Anfrage</p>
 <p><strong>E-Mail:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
 <h3 id="eu-streitschlichtung">EU-Streitschlichtung</h3>
 <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>. Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
 <h3 id="verbraucherstreitbeilegung">Verbraucherstreitbeilegung / Universalschlichtungsstelle</h3>
 <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>
